{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/8.1.0/mdb.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Student Dashboard</title>
</head>
<body>
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light bg-body-tertiary">
            <div class="container">
                <a class="navbar-brand me-2" href="https://najottalim.uz/">
                    <img
                    src="{% static 'photo/logo.png' %}"
                    height="25"
                    loading="lazy"
                    style="margin-top: -1px;"
                    />
                </a>
                <button
                        data-mdb-collapse-init
                        class="navbar-toggler"
                        type="button"
                        data-mdb-target="#navbarButtonsExample"
                        aria-controls="navbarButtonsExample"
                        aria-expanded="false"
                        aria-label="Toggle navigation"
                    >
                    <i class="fas fa-bars"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarButtonsExample">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <a href="{% url 'home' %}" class="btn btn-link px-3 me-2">Asosiy sahifa</a>
                    </ul>
                    <div class="d-flex align-items-center">
                        <button data-mdb-ripple-init type="button" class="btn btn-link px-3 me-2">
                            Login
                        </button>
                        <button data-mdb-ripple-init type="button" class="btn btn-primary me-3">
                            Sign up for free
                        </button>
                        <a
                            data-mdb-ripple-init
                            class="btn btn-dark px-3"
                            href="https://github.com/mdbootstrap/mdb-ui-kit"
                            role="button"
                            ><i class="fab fa-github"></i
                        ></a>
                    </div>
                </div>
            </div>
        </nav>

        <main class="mt-5 mb-5">
            <div class="row row-cols-1 row-cols-md-3 g-4">
              {% for lesson in lessons %}
                <div class="col car">
                    <a href="{% url 'lesson_detail' lesson.id %}">
                        <div class="card h-100" style="border: none; box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); border-radius: 10px; overflow: hidden;">
                             <div class="card-body" style="padding: 15px;">
                                <h5 class="card-title" style="font-size: 18px; font-weight: bold; margin-bottom: 10px;">{{lesson.id}}-dars: {{ lesson.title }}</h5>
                            </div> 
                        </div>
                    </a>
                </div>
                {% endfor %}
            </div>
        </main>
        {% include 'components/_footer.html' %}
    </div>
</body>
</html>

