{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% include 'components/_styles.html' %}

    <title>
      {% block title %}
      {% endblock title %}
    </title>
</head>
<body>
    <div class="container">
        {% include 'components/_navbar.html' %}
        <main class="mt-5 mb-5">
            <div class="row row-cols-1 row-cols-md-3 g-4">
                {% for course in courses %}
                    <a href="{% url 'course_by_type' course.id %}" class="btn" >
                        <div class="col mb-4">
                            <div class="mb-5 mt-5">
                                <h5 class="card-title">{{ course.title }}</h5>
                            </div>
                        </div>
                    </a> 
                {% endfor %}
            </div>
        </main>
        {% include 'components/_footer.html' %}
    </div>
</body>
</html>

